.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    min-height: 100px;
    background-color: burlywood;
  }
  
  .appName {
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }
  
  .rutes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
  }
  .rutes li {
    margin-right: 15px;
  }
  
  .rutes > li > a {
    margin-left: 15px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color:cadetblue;
  }
  
  @media screen and (min-width: 750px) {
    .navbar {
      padding: 0 20%;
    }
  }